.ScoreCard {
    margin: 20px auto;
    width: 300px;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}

.ScoreCardRow {
    display:inline-block;
    box-align: center;
}

.ScoreCardRows {
    width: 260px;
    margin-left: 20px;
}

.ScoreCardControls {
    margin-left: 20px;
}

.ScoreCardControls Button {
    margin-left: 20px;
    margin-bottom: 0;
    width: 109px;
    font-size: 10px;
}
