.ScoreCard {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    /* box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box; */
}

.ScoreCardRows {
    display: block;
    box-align: center;
    width: 80%;
    margin: auto;
}

.ScoreCardControls {
    margin: 20px;
}

.ScoreCardControls Button {
    margin-left: 20px;
    margin-bottom: 0;
    width: 109px;
    font-size: 10px;
}
